{
    "extends": "airbnb-base",
    "rules": {
        // enable additional rules
        "indent": [
            "error",
            4
        ]
        // "quotes": ["error", "double"],
    },
    "plugins": [
        "import"
    ],
    "env": {
        "mocha": true,
        "node": true
    }
}